anthropic
python-dotenv
# system install portaudio
pyaudio
speechrecognition
elevenlabs
pydub
groq
pillow
elevenlabs
python-dotenv
Pillow
google-auth-oauthlib
google-api-python-client
pickle-mixin
email-validator
